<div class="container main-content-area">
    <h2 class="card-title">
        <svg class="icon icon-gray" data-lucide="layout-dashboard"></svg>
        Daily Dashboard Overview
    </h2>
    <p class="text-center">Date: {{currentDate}}</p>
    <div class="grid-layout dashboard-cards">
        <div class="card dashboard-card">
            <h3 class="card-title-small">
                <svg class="icon icon-blue" data-lucide="shopping-cart"></svg>
                Total Customer Milk Order
            </h3>
            <p class="dashboard-value">0 Liters</p>
        </div>
         <div class="card dashboard-card">
            <h3 class="card-title-small">
                <svg class="icon icon-blue" data-lucide="milk"></svg>
                Total Farmer Milk Collection
            </h3>
            <p class="dashboard-value">0 Liters</p>
        </div>
    </div>
</div>